/*color pallete: https://coolors.co/795c5f-fadf7f-f2e49f-c59b76-e9806e*/

body {
    background-color: #C59B78;
    text-align: center;
    font-size: 16px;
    font-family: 'Gloria Hallelujah', cursive;
    overflow: hidden;
}

header {
    height: 15vh;
}

main {
    height: 75vh;
}

footer {
    height: 10vh;
    background-color: #795C5F;
    color: #F2E49F;
}

footer p {
    padding-top: .5em;
}


/*

Items displayed in begining

*/

button,
input {
    font-family: 'Gloria Hallelujah', cursive;
}

h1 {
    color: #795C5F;
    font-size: 3em;
    padding: 0.5em;
}

input,
.reset {
    border: 1px solid #795C5F;
    padding: 0.5em;
    margin-top: 2em;
    color: #795C5F;
}

#name-pet {
    background-color: #F2E49F;
    width: 35%;
}

.submit-name,
.reset {
    background-color: #FADF7F;
}


/*

entire area that displays pet and related game items

*/

.game-field {
    background-color: #f2e49f;
    width: 60%;
    height: 75%;
    margin: 1em auto 0 auto;
    padding: 1em 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

#pet {
    max-width: 75%;
    max-height: 80%;
    transition: all 1s ease;
    /*display: relative;*/
}

.hunger {
    height: 2em;
    margin-top: 1em;
    width: 100%;
    position: relative;
}

.hunger meter {
    height: 2em;
    width: 70%;
    position: absolute;
    left: 5%;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: #C59B78;
    box-shadow: 0 5px 5px -5px #795C5F inset;
}

meter::-webkit-meter-optimum-value {
    background: #E9806E;
    box-shadow: 0 5px 5px -5px #795C5F inset;
    transition: all 0.25s ease;
}

.feed {
    height: 2em;
    width: 15%;
    vertical-align: middle;
    position: absolute;
    bottom: 1px;
    right: 5%;
    background-color: #C59B76;
    color: #795C5F;
    border: 1px #795C5F solid;
    box-shadow: 0 5px 5px -5px #795C5F inset;
    font-size: 1em;
    transition: all 1s ease;
}

.feed:hover {
    background-color: #795C5F;
    color: #E9806E;
    box-shadow: 0 5px 5px -5px #C59B76 inset;
    border: 1px #C59B76 solid;
}

.feed:focus {
    outline: none;
}


/*

Classes for Image display

*/

.death {
    transform: rotate(180deg);
    filter: grayscale(100%);
}

.death-bg {
    background-color: red;
}


/*

toggle-able classes

*/

.hidden {
    display: none;
}
